a, h1{
    font-size:2rem;
}

nav{
    background: rgb(215, 235, 215);
}

body{
    background: rgb(237, 243, 237);
}

form {
    width:70%;
}

.form-check{
    margin:5px;
}

.custom-control-input:checked~.custom-control-label::before {
    background: rgb(119, 216, 119);
}

span{
    cursor: pointer;
}

#right{
    width:50%;
    height: 80vh;
    float:left;
    display:flex;
    justify-content: center;
    align-items: center;
}

#left{
    width:50%;
    float:left;
    display:flex;
    flex-direction: column;
}

#edit{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}