a,
h1 {
  font-size: 2rem;
}

nav {
  background: rgb(215, 235, 215);
}

body {
  background: rgb(237, 243, 237);
}

form {
  display:flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.header {
  background: rgb(27, 27, 27);
  text-align: center;
  color: white;
  font-size: 20px;
}

.form-check {
  display: "flex";
  vertical-align: middle;
  background: rgb(44, 43, 43);
  color: white;
  font-size: 15px;
}

.custom-control-input:checked~.custom-control-label::before {
  background: rgb(95, 100, 95);
}

#finishTest{
  margin:10px;
  align-self: center;
}

#right{
  display:flex;
  height:80vh;
  width:50%;
}

#left{
  display:flex;
  width:50%;
  height:80vh;
  float:left;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
