a, h1{
    font-size:2rem;
}

nav{
    background: rgb(215, 235, 215);
}

body{
    background: rgb(237, 243, 237);
}

#right{
    width:40%;
    float:left;
    display:flex;
    flex-direction: column;
}

#left{
    width:60%;
    float:left;
    display:flex;
    flex-direction: column;
}